body {
    background-color: rgb(101, 231, 248);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkorange;
   
  }

  h1,h2,h3,p {
    text-align: center;
  }
  

.bold {
  font-weight: bold;
}

.center {
text-align: center;
}

input, form, legend, fieldset {
  text-align: center;
  
}

button {
  margin-left: 50%;
}

#innerbg {
  margin-left: auto;
  margin-right: auto;
  max-width:800px;
  background-color:  rgb(11, 169, 184);
   border-radius: 5px; 
 padding-bottom: 50px;
}

.centred-gecko {
  text-align: center;
  

}
#list-ol {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto; 
}

#list-ul {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
} 

.Header {
font-size: 30pt;
}

img {
  max-width: 100%;
  height: auto;
}

.flex-container {
  background-color: 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  padding: 10px;
}

.flex-container img {
  height:150px;
  padding: 10px;
  border-style:solid;
  margin: 20px;
  background-color: white;
}
nav ul {
  background-color: palegoldenrod;
  overflow:hidden;
  list-style-type:none;
  border-radius: 5px;
  
  
}

nav a {
  float: left;
  display:block;
  color: darkorange;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

nav a:hover {
background-color:brown;
}

#active {
  background-color:brown;
}

.multi {
  background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
}
 /* centre's summary */
details {
  padding-left: 45%;
}


.centre-details {
  padding-right: 80%;
}

.italics {
  font-style: italic;
}




